html {
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;

	font-family: "Roboto", "Verdana", sans-serif;
	color: #323232;
	background-color: #849d8f;
	background-position: center;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.site-navigation-list, 
.catalog-dropdown, 
.user-navigation-list,
.promo-items,
.features-item,
.catalog-list,
.slides-switches,
.breadcrumbs,
.pagination-list,
.footer-social ul,
.footer-info ul {
	list-style: none;
}

.main-header .container {
	display: flex;
	flex-wrap: wrap;
	position: relative;
	z-index: 4;
}

.container {
	width: 1200px;
	margin: 10px auto 0;
	padding: 0 27px;
}

.site-navigation-list {
	display: flex;
	flex-wrap: wrap;
	margin-top: 21px;
	padding: 0;
}

.site-navigation a {
	padding: 0 12px;
	font-size: 16px;
	line-height: 18px;
	color: #ffffff;
	font-weight: bold;
	text-decoration-style: solid;
	text-decoration-color: #a9bfb3;
	text-decoration-line: underline;
}

.site-navigation a:hover, 
.site-navigation a:focus {
	display: block;
	height: 32px;
	margin-top: -8px;
	padding: 0 12px;
	border-radius: 15px;
	text-decoration: none;
	font-size: 16px;
	line-height: 18pt;
	color: #333333;
	font-weight: bold;
	background-color: #f7f6f3;
} 

.site-navigation a:active {
	font-size: 16px;
	line-height: 18pt;
	font-weight: bold;
	color: #333333;
	background-color: rgba(248, 247, 244, 0.988);
	box-shadow: inset 0px 2px 1px 0px rgba(105, 105, 105, 0.004);
}

.main-navigation .catalog-dropdown {
	background-color: rgb(248, 247, 244);
	box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.catalog-dropdown a {
	font-size: 14px;
	line-height: 16pt;
	color: #323232;
}

.catalog-dropdown span {
	font-weight: bold;
}

.catalog-dropdown a:hover,
.catalog-dropdown a:focus {
	font-size:14px;
	line-height: 16pt;
	color: #323232;
	background-color: rgb(251, 222, 215);
}

.user-navigation {
	margin-left: 345px;
}

.user-navigation-list  {
	display: flex;
	justify-content: space-between;
	padding: 0;
	margin-top: 13px;
}

.user-navigation-list li {
	padding-left: 10px;
}

.user-navigation a {
	font-size: 14px;
	line-height: 16px;
	text-decoration: none;
	color: #ffffff; 
}

.search a {
	display: block;
	width: 32px;
	height: 32px;
	border-radius: 50%;
	background-color: #a1b5aa;
	background-image: url("../img/loupe.svg");
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.search a:hover, 
.search a:focus {
	background-color: #f8f7f4;
	background-image: url("../img/loupe-black.svg");
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.login-link a {
	display: block;
	position: relative;
	width: 92px;
	height: 32px;
	padding-left: 44px;
	padding-top: 8px;
	border-radius: 15px;
	background-color: #a1b5aa;
}

.login-link a::before {
	content:"";
	position: absolute;
	top: 6px;
	left: 16px;
	width: 21px;
	height: 20px;
	background-image: url("../img/entrance.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.login-link a:hover,
.login-link a:focus,
.login-link a:active {
	color: #323232;
	background-color: #f8f7f4;
}

.login-link a:hover::before,
.login-link a:focus::before,
.login-link a:active::before  {
	background-image: url("../img/entrance-black.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.login-link-form {
	font-size: 14px;
	line-height: 24px;
	color: #999999; 
}

.cart a {
	display: block;
	position: relative;
	width: 117px;
	height: 32px;
	padding-top: 8px;
	padding-left: 44px;
	border-radius: 15px;
	background-color: #a1b5aa;
}

.cart a::before {
	content:"";
	position: absolute;
	top: 6px;
	left: 16px;
	width: 21px;
	height: 20px;
	background-image: url("../img/basket.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.working-hours {
	width: 170px;
	min-height: 45px;
	margin-left: 960px;
	margin-top: -20px;
	text-align: right;
}

.working-hours p {
	font-size: 14px;
	line-height: 16px;
	font-weight: bold;
	color: #ffffff;
}

.working-hours span {
	font-size: 22px;
	line-height: 24px;
	font-weight: bold;
	color: #ffffff;
}

.slider {
	position: relative;
	z-index: 3;
	margin: -137px 20px 30px 35px;
}

.shop-window {
	display: flex;
	list-style: none;
}

.shop-window li:first-of-type {
	z-index: 2;
}

.shop-window li:nth-of-type(2) {
	z-index: 1;
}

.shop-window li:last-of-type {
	z-index: 0;
}

.shop-window h2 {
	width: 700px;
	text-align: center;
	margin: -490px auto 40px;
	font-size: 60px;
	line-height: 60.35px;
	font-weight: bold;
	color: #ffffff;
}

.shop-window p {	
	margin: 0 407px 40px;
}

.shop-window-button {
	display: block;
	position: relative;
	width: 279px;
	height: 63px;
	border-radius: 50px;
	padding: 12px 40px;
	font-size: 32px;
	line-height: 44px;
	font-weight: bold;
	color: #ffffff;
	text-decoration: none;
	text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
 	background: #f26843;
 	background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
 	box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
	cursor: pointer;
}

.shop-window-button:hover,
.shop-window-button:focus {
	background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  	box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.shop-window-button:active {
	background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  	box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slide-radio {
	display: flex;
	margin: -90px 0 56px 0;
}

.slide-radio button:nth-of-type(1){
	height: 17px;
	width: 17px;
	color: transparent;
	border: 1px solid rgb(255, 255, 255);
	border-radius: 50%;
	background-color: rgb(255, 255, 255);
}

.slide-btn {
	height: 17px;
	width: 17px;
	color: transparent;
	border: 1px solid rgb(255, 255, 255);
	border-radius: 50%;
	background-color: #849d8f;
}

.slide-btn:hover,
.slide-btn:focus {
  border-radius: 50%;
  background-color: rgb(248, 247, 244);
  opacity: 0.4;
}

.slide-btn:active {
  background-color: rgb(255, 255, 255);
}


.promo {
	position: relative;
	z-index: 3;
}

.promo-items {
	display: flex;
	margin: 0 0 40px;
	padding: 0;
}

.promo-items li {
	width: 560px;
	min-height: 230px;
	padding: 20px;
}

.promo-items li:first-of-type {
	margin-right: 27px;
}

.promo-items h3 {
	margin: 0;
	font-size: 35px;
	line-height: 41px;
	font-weight: bold;
	color: #ffffff;
}

.promo-items p {
	font-size: 18px;
	line-height: 22px;
	font-weight: bold;
	color: #ffffff;
}

.button {
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;
	color: #ffffff;
	text-decoration: none;
	background-image: -moz-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
	box-shadow: 0px 1px 2px 0px rgba(172, 16, 0, 0.004);
}

.button:hover,
.button:focus  {
	background-image: -moz-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
	box-shadow: 0px 1px 2px 0px rgba(172, 16, 0, 0.004);
}

.button:active {
	background-image: -moz-linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
	box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 0.004);
}

.promo-jam {
	background-image: url("../img/jam.jpg");
	background-repeat: no-repeat;
}

.promo-chocolate {
	background-image: url("../img/chocolate.jpg");
	background-repeat: no-repeat;
}

.catalog-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0 0 28px;
	padding: 0;
}

.catalog-item {
	width: 267px;
	min-height: 270px;
}

.catalog-item-title {
	font-size: 16px;
	line-height: 22px;
	color: #ffffff;
}

.price-kg p {
	font-size: 45px;
	line-height: 45px;
	font-weight: bold;
	color: #ffffff;
}

.price-kg span {
	font-size: 30px;
	line-height: 45px;
	font-weight: bold;
	color: #ffffff;
}

.button-hidden {
	display: none;
}

.features {
	padding: 29px 17px 10px;
	margin-bottom: 40px;
	background-image: url("../img/waffle.jpg");
	background-repeat: no-repeat;
}

.features ul {
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	margin: 0;
}

.features p {
	width: 1025px;
	min-height: 65px;
	padding: 0;
	margin: 0;
	font-size: 24px;
	line-height: 30px;
	color: #323232;
}

.features-item {
	width: 540px;
	min-height: 80px;
}

.features-item p {
	width: 483px;
	min-height: 62px;
	margin-bottom: 26px;
	font-size: 16px;
	line-height: 22px;
	color: #323232;
}

.interactive-news {
	display: flex;
	margin-bottom: 40px;
}

.blog {
	width: 560px;
	min-height: 222px;
	padding: 26px 17px 0;
	margin: 0 26px 0 0;
	background-image: url("../img/strawberry.jpg");
	background-repeat: no-repeat;
}

.post-header p {
	font-size: 16px;
	line-height: 22px;
	color: #323232;
	margin: 0;
	padding: 0;
}

.post-content a {
	font-size: 24px;
	line-height: 30px;
	color: #323232;
	font-weight: bold;
}

.mailing {
	width: 560px;
	min-height: 222px;
	padding: 36px 0 0 26px;
	margin: 0;
	background-color: rgb(248, 247, 244);
}

.mailing p {
	width: 508px;
	min-height: 63px;
	margin-bottom: 40px;
	font-size: 16px;
	line-height: 22px;
	color: #5a5a5a;
}

.mailing-form {
	font-size: 16px;
	line-height: 24px;
	color: #999999;
}

.contacts {
	margin: 0 0 36px 0;
}

.contacts-form {
	margin-left: 149px;

	width: 305px;
	min-height: 308px;
	padding: 31px 0 0 27px;
 	background-color: rgba(255, 255, 255, 0.98);
}

.contacts-form p {
	width: 180px;
	min-height: 37px;
	font-size: 14px;
	line-height: 20px;
	color: #323232;
}

.contacts-form span {
	width: 228px;
	min-height: 46px;
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;
	color: #323232;
}

.main-footer .container {
	display: flex;
	margin: 0 auto 30px;
	padding: 0 27px;
}

.social-list {
	width: 187px;
	min-height: 40px;
	display: flex;
	padding: 0;
	margin: 0;
}

.social-list li {
	width: 40px;
	height: 40px;
	background-color: rgb(255, 255, 255);
	opacity: 0.502;
	border-radius: 50%;
}

.social-tw {
	display: block;
	background-image: url("../img/twitter.rgb");
	background-repeat: no-repeat;
}

.social-list li:not(:last-of-type) {
	margin-right: 10px;
}

.footer-info ul {
	width: 310px;
	min-height: 43px;
	display: flex;
	flex-wrap: wrap;
	margin: 0 227px 0 213px;
}

.footer-info li {
	margin-right: 10px;
}

.footer-info a {
	font-size: 13px;
	line-height: 18px;
	color: #ffffff;
}

.main-footer p,
.main-footer a {
	font-size: 12px;
	line-height: 18px;
	color: #ffffff;
}

.breadcrumbs {
	padding: 0;
	margin-bottom: 10px;
	display: flex;
}

.breadcrumbs li:not(:last-of-type) {
	margin-right: 20px;
}

.breadcrumbs li,
.breadcrumbs a  {
	font-size: 14px;
	line-height: 16px;
	color: #ffffff;
}

.main-content h1 {
	margin: 0 0 30px 0;
	font-size: 35px;
	line-height: 41px;
	color: #ffffff;
	font-weight: bold;
}

.sort {
	margin-bottom: 32px;
}

.sort-type {
	font-size: 14px;
	line-height: 16px;
	color: #ffffff;
}

.sort-type-items label {
	font-size: 16px;
	line-height: 18px;
	color: #ffffff;
}

.sort-type-btn {
	font-size: 16px;
	line-height: 18px;
	color: #ffffff;
	border-style: solid;
	border-width: 2px;
	border-color: rgb(255, 255, 255);
	background-color: rgba(255, 255, 255, 0.188);
}

.pagination-list {
	width: 30px;
	padding: 40px 0 30px 970px;
	display: flex;
	justify-content: space-between;
}

.pagination-list li:not(last-of-type) {
	margin-right: 5px;
}

.pagination-list a {
	font-size: 16px;
	line-height: 18px;
	color: #ffffff;
	text-decoration: none;
}
