html {
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;

	font-family: "Roboto", "Verdana", sans-serif;
	font-weight: ;
	color: #323232;
	background-color: #849d8f;
	background-position: center;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.site-navigation, 
.catalog-dropdown, 
.user-navigation,
.promo-items,
.features-item,
.catalog-list,
.slides-switches,
.breadcrumbs,
.pagination-list,
.footer-social ul,
.footer-info ul {
	list-style: none;
}

.main-header .container {
	display: flex;
	flex-wrap: wrap;
}

.container {
	width: 1200px;
	margin: 0 auto;
	padding: 0 27px;
}

.main-navigation {
	margin-right: 356px;
	width: 353px;
	min-height: 20px;
}

.main-navigation ul {
	display: flex;
	justify-content: space-between;
}

.user-navigation-list {
	width: 261px;
	min-height: 34px;
}

.user-navigation {
	display: flex;
	justify-content: space-between;
	width: 261px;
	min-height: 34px;
}

.working-hours {
	width: 170px;
	min-height: 45px;
	margin-left: 960px;
	margin-top: -20px;
	text-align: right;
}

.site-navigation a {
	font-size: 16px;
	line-height: 18px;
	color: #ffffff;
	font-weight: bold;
	text-decoration: none;
}

.site-navigation a:hover {
	font-size: 16px;
	line-height: 18pt;
	color: #333333;
	font-weight: normal;
	background-color: #f7f6f3;
} 

.site-navigation a:active {
	font-size: 16px;
	line-height: 18pt;
	font-weight: bold;
	color: #333333;
  	background-color: rgba(248, 247, 244, 0.988);
}

.site-navigation a:focus {
	background-color: rgb(208, 112, 88);
}

.catalog-dropdown {
	background-color: rgb(248, 247, 244);
	box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.catalog-dropdown a {
	font-size: 14px;
	line-height: 16pt;
	color: #323232;
}

.catalog-dropdown span {
	font-weight: bold;
}

.catalog-dropdown a:hover,
.catalog-dropdown a:focus {
	font-size:14px;
	line-height: 16pt;
	color: #323232;
	background-color: rgb(251, 222, 215);
}

.user-navigation a {
	font-size: 14px;
	line-height: 16px;
	text-decoration: none;
	color: #ffffff; 
}


.login-link-form {
	font-size: 14px;
	line-height: 24px;
	color: #999999; 
}

.working-hours p {
	font-size: 14px;
	line-height: 16px;
	font-weight: bold;
	color: #ffffff;
}

.working-hours span {
	font-size: 22px;
	line-height: 24px;
	font-weight: bold;
	color: #ffffff;
}

.shop-window {
	display: flex;
	margin: -117px 20px 30px;
	list-style: none;
}

.shop-window h2 {
	width: 680px;
	min-height: 130px;
	text-align: center;
	margin: -490px 0 25px 185px;
	font-size: 60px;
	line-height: 60.35px;
	font-weight: bold;
	color: #ffffff;
}

.shop-window p {	
	width: 282px;
	min-height: 66px;
	margin-top: 0px;
	margin-left: 420px;
	margin-bottom: 63px;
}

.shop-window-button {
	font-size: 32px;
	line-height: 44px;
	font-weight: bold;
	color: #ffffff;
	text-decoration: none;
	background-image: -moz-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
 	background-image: -ms-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
 	box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
}

.shop-window-button:hover,
.shop-window-button:focus {
	background-image: -moz-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
	box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.004);
}

.shop-window-button:active {
	background-image: -moz-linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
	box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 0.004);
}

.slide-radio {
	display: flex;
	margin: -135px 0 63px 0;
}

.slide-radio button:nth-of-type(1){
	height: 20px;
	width: 20px;
	color: transparent;
	border: 1px solid rgb(255, 255, 255);
	border-radius: 50%;
	background-color: rgb(255, 255, 255);
}

.slide-btn {
	height: 20px;
	width: 20px;
	color: transparent;
	border: 1px solid rgb(255, 255, 255);
	border-radius: 50%;
	background-color: #849d8f;
}

.slide-btn:hover,
.slide-btn:focus {
  border-radius: 50%;
  background-color: rgb(248, 247, 244);
  opacity: 0.4;
}

.slide-btn:active {
  background-color: rgb(255, 255, 255);
  position: absolute;
}


.promo-items {
	display: flex;
	margin: 0 0 40px;
	padding: 0;
}

.promo-items li {
	width: 560px;
	min-height: 230px;
	padding: 20px;
}

.promo-items li:first-of-type {
	margin-right: 27px;
}

.promo-items h3 {
	margin: 0;
	font-size: 35px;
	line-height: 41px;
	font-weight: bold;
	color: #ffffff;
}

.promo-items p {
	font-size: 18px;
	line-height: 22px;
	font-weight: bold;
	color: #ffffff;
}

.button {
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;
	color: #ffffff;
	text-decoration: none;
	background-image: -moz-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
	box-shadow: 0px 1px 2px 0px rgba(172, 16, 0, 0.004);
}

.button:hover,
.button:focus  {
	background-image: -moz-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
	box-shadow: 0px 1px 2px 0px rgba(172, 16, 0, 0.004);
}

.button:active {
	background-image: -moz-linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
	box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 0.004);
}

.promo-jam {
	background-image: url("../img/jam.jpg");
	background-repeat: no-repeat;
}

.promo-chocolate {
	background-image: url("../img/chocolate.jpg");
	background-repeat: no-repeat;
}

.catalog-list {
	display: flex;
	flex-wrap: wrap;
	margin: 0 0 28px;
	padding: 0;
}

.catalog-item {
	width: 267px;
	min-height: 270px;
}

.catalog-item:not(:nth-of-type(4n)) {
	margin-right: 26px;
}

.catalog-item-title {
	font-size: 16px;
	line-height: 22px;
	color: #ffffff;
}

.price-kg p {
	font-size: 45px;
	line-height: 45px;
	font-weight: bold;
	color: #ffffff;
}

.price-kg span {
	font-size: 30px;
	line-height: 45px;
	font-weight: bold;
	color: #ffffff;
}

.button-hidden {
	display: none;
}

.features .container {
	background-image: url("../img/waffle.jpg");
	background-repeat: no-repeat;
}

.features ul {
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	margin: 0;
}

.features p {
	width: 1025px;
	min-height: 65px;
	padding: 29px 17px 5px;
	margin: 0;
	font-size: 24px;
	line-height: 30px;
	color: #323232;
}

.features-item {
	width: 540px;
	min-height: 80px;
}

.features-item p {
	width: 483px;
	min-height: 62px;
	padding: 0 19px 26px;
	font-size: 16px;
	line-height: 22px;
	color: #323232;
}

.interactive-news {
	display: flex;
	margin-bottom: 40px;
}

.blog {
	width: 560px;
	min-height: 222px;
	padding: 26px 17px 0;
	margin: 0 26px 0 0;
	background-image: url("../img/strawberry.jpg");
	background-repeat: no-repeat;
}

.post-header p {
	font-size: 16px;
	line-height: 22px;
	color: #323232;
	margin: 0;
	padding: 0;
}

.post-content a {
	font-size: 24px;
	line-height: 30px;
	color: #323232;
	font-weight: bold;
}

.mailing {
	width: 560px;
	min-height: 222px;
	padding: 36px 0 0 26px;
	margin: 0;
	background-color: rgb(248, 247, 244);
}

.mailing p {
	width: 508px;
	min-height: 63px;
	margin-bottom: 40px;
	font-size: 16px;
	line-height: 22px;
	color: #5a5a5a;
}

.mailing-form {
	font-size: 16px;
	line-height: 24px;
	color: #999999;
}

.contacts {
	margin: 0 0 36px 0;
}

.contacts-form {
	margin-left: 149px;

	width: 305px;
	min-height: 308px;
	padding: 31px 0 0 27px;
 	background-color: rgba(255, 255, 255, 0.98);
}

.contacts-form p {
	width: 180px;
	min-height: 37px;
	font-size: 14px;
	line-height: 20px;
	color: #323232;
}

.contacts-form span {
	width: 228px;
	min-height: 46px;
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;
	color: #323232;
}

.main-footer .container {
	display: flex;
	margin: 0 auto;
	padding: 0 27px;
}

.social-list {
	width: 187px;
	min-height: 40px;
	display: flex;
	padding: 0;
	margin: 0;
}

.social-list li {
	width: 40px;
	height: 40px;
	background-color: rgb(255, 255, 255);
	opacity: 0.502;
	border-radius: 50%;
}

.social-list li:not(:last-of-type) {
	margin-right: 10px;
}

.footer-info ul {
	width: 310px;
	min-height: 43px;
	display: flex;
	flex-wrap: wrap;
	margin: 0 227px 0 213px;
}

.footer-info li {
	margin-right: 10px;
}

.footer-info a {
	font-size: 13px;
	line-height: 18px;
	color: #ffffff;
}

.main-footer p,
.main-footer a {
	font-size: 12px;
	line-height: 18px;
	color: #ffffff;
}

.breadcrumbs {
	padding: 0;
	margin-bottom: 10px;
	display: flex;
}

.breadcrumbs li:not(:last-of-type) {
	margin-right: 20px;
}

.breadcrumbs li,
.breadcrumbs a  {
	font-size: 14px;
	line-height: 16px;
	color: #ffffff;
}

.main-content h1 {
	margin: 0 0 30px 0;
	font-size: 35px;
	line-height: 41px;
	color: #ffffff;
	font-weight: bold;
}

.sort {
	margin-bottom: 32px;
}

.sort-type {
	font-size: 14px;
	line-height: 16px;
	color: #ffffff;
}

.sort-type-items label {
	font-size: 16px;
	line-height: 18px;
	color: #ffffff;
}

.sort-type-btn {
	font-size: 16px;
	line-height: 18px;
	color: #ffffff;
	border-style: solid;
	border-width: 2px;
	border-color: rgb(255, 255, 255);
	background-color: rgba(255, 255, 255, 0.188);
}

.pagination-list {
	width: 30px;
	padding: 40px 0 30px 1080px;
	display: flex;
}

.pagination-list li:not(last-of-type) {
	margin-right: 5px;
}

.pagination-list a {
	font-size: 16px;
	line-height: 18px;
	color: #ffffff;
	text-decoration: none;
}
